h1, h2 {
text-align: center;
font-family: var(--font-family-heading);
font-size: 1.4em;
margin: 1em 0 1em 0em;
color: var(--main-bg-color);
text-transform: uppercase;
}

h2 {
color: var(--secondary-bg-color);
}

mat-form-field {
  margin: 0 3em 0 0;
}

mat-expansion-panel {
  margin: 0 1em 2em 1em;
}

mat-spinner {
  margin: 0 auto;
  margin-top: 9em;
  margin-bottom: 11em;
}

form {
  margin: 0 auto;
  width: 14em;
}

table, mat-button-toggle-group {
  display: none;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

mat-card-title {
  font-size: 1.2em !important;
}

.card {
  max-width: 20em;
  margin: auto;
  margin-bottom: 2em;
  box-shadow: 0px 2px 1px -1px var(--main-bg-color), 0px 1px 1px 0px var(--main-bg-color), 0px 1px 3px 0px var(--main-bg-color);
}

.disabled {
  cursor: default !important;
  color: white !important
}

.filter-icon, mat-card-header mat-icon {
  color: var(--secondary-bg-color);
}

.section {
  display: flex;
  margin-bottom: 0.5em;
  align-items: center;
}

.section mat-icon {
  color: var(--secondary-bg-color);
  font-size: 1.6em;
  margin-right: 0.5em;
}

.highlights {
  margin-bottom: 3em;
}

.highlights mat-card-title {
  color: var(--secondary-bg-color);
}

.highlights .card {
  box-shadow: 0px 2px 1px -1px var(--secondary-bg-color), 0px 1px 1px 0px var(--secondary-bg-color), 0px 1px 3px 0px var(--secondary-bg-color);
}

@media screen and (min-width: 700px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    margin-left: 1em;
    margin-right: 1em;
    max-width: 22em;
  }

  img {
    height: 15em;
  }
}

@media screen and (min-width: 1024px) {

  h1 {
    font-size: 1.9em;
  }

  form {
    display: flex;
    margin: 0;
  }

  mat-button-toggle-group {
    display: inline-flex;
    margin-left: 48em;
  }

  table {
    border-collapse: collapse;
    margin-top: 3em;
    width: 50em;
  }

  th {
    background-color: var(--secondary-bg-color);
    color: white;
    border: none;
  }

  td {
    border-bottom: 1px solid var(--secondary-bg-color);
    padding-left: 0.5em;
  }

  td, th {
    font-size: 1.1em;
  }

  tr:hover {
    background-color: var(--secondary-bg-color);
  }

  td button {
    margin: 0.5em;
  }

  .main-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .container {
    margin-top: 2em;
  }

  .container-right {
    padding-bottom: 5em;
    width: 60em;
  }

  .mat-button-toggle-appearance-standard {
     color: var(--main-bg-color);
  }



}


