<h1>Registro</h1>
<form [formGroup]="signupForm" (ngSubmit)="signup()">
  <mat-form-field  appearance="outline">
    <mat-label for="username">Nombre de usuario</mat-label>
    <input matInput type="text" name="username" id="username" required [formControl]="username" />
    <mat-error *ngIf="username.touched && username.errors">
      <mat-error *ngIf="username.errors.required">El nombre de usuario es obligatorio</mat-error>
      <mat-error *ngIf="username.errors.minlength || username.errors.maxlength">
        El nombre de usuario debe tener entre 3 y 35 caracteres
      </mat-error>
      <mat-error *ngIf="username.errors.pattern">
        Por favor, no utilice caracteres especiales ni espacios en blanco
      </mat-error>
    </mat-error>
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-label for="email">Email</mat-label>
    <input matInput type="email" name="email" id="email" required [formControl]="email" />
    <mat-error *ngIf="email.touched && email.errors">
      <mat-error *ngIf="email.errors.required">El email es obligatorio</mat-error>
      <mat-error *ngIf="email.errors.pattern">
        Por favor, introduce un email válido
      </mat-error>
    </mat-error>
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-label for="password">Contraseña</mat-label>
    <input matInput type="password" name="password" id="password" required [formControl]="password"/>
    <mat-error *ngIf="password.touched && password.errors">
      <mat-error *ngIf="password.errors.required">
        La contraseña es obligatoria
      </mat-error>
      <mat-error *ngIf="password.errors.minlength">
        La contraseña debe tener 8 caracteres como mínimo
      </mat-error>
    </mat-error>
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-label for="confirmpassword">Repetir contraseña</mat-label>
    <input matInput type="password" name="confirmpassword" id="confirmpassword" required [formControl]="confirmpassword"/>
    <mat-error *ngIf="confirmpassword.touched && confirmpassword.errors">
      <mat-error  *ngIf="confirmpassword.errors.required">
        El campo "Repetir contraseña" es obligatorio.
      </mat-error>
      <mat-error  *ngIf="confirmpassword.errors.minlength">
        El campo "Repetir contraseña" debe tener 8 caracteres como mínimo.
      </mat-error>
      <mat-error  *ngIf="confirmpassword.errors.mustMatch">
        Las contraseñas no coinciden
      </mat-error>
    </mat-error>
  </mat-form-field>
  <div>
    <button  mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">Registrarse</button>
  </div>
</form>
