h1 {
  text-align: center;
  font-family: var(--font-family-heading);
  font-size: 1.4em;
  margin: 1em 0 1em 0em;
  color: var(--main-bg-color);
  text-transform: uppercase;
}

form {
  margin: 0 auto;
  margin-bottom: 16.5em;
  width: 14em;
}

button {
  display: block;
  margin: auto;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline  {
  color: var(--secondary-bg-color) !important;
}

::ng-deep .mat-form-field-label {
  color: var(--main-bg-color) !important;
}

@media screen and (min-width: 700px) {

  h1 {
    margin-left: 0;
  }

  form {
    margin-bottom: 36em;
  }
}

@media screen and (min-width: 1024px) {

  h1 {
    font-size: 1.9em;
  }

  form {
    margin-bottom: 11.5em;
  }
}


