h1, h2 {
  text-align: center;
  font-family: var(--font-family-heading);
  font-size: 1.4em;
  margin: 1em 0 1em 0em;
  color: var(--main-bg-color);
  text-transform: uppercase;
  }

h2 {
  color: var(--secondary-bg-color);
}

table {
  display: none;
}

mat-spinner {
  margin: 0 auto;
  margin-top: 9em;
  margin-bottom: 15em;
}

mat-card-actions.mat-card-actions {
  text-align: right;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

mat-card-title {
  font-size: 1.2em !important;
}

.card {
  max-width: 20em;
  margin: auto;
  margin-bottom: 2em;
  box-shadow: 0px 2px 1px -1px var(--main-bg-color), 0px 1px 1px 0px var(--main-bg-color), 0px 1px 3px 0px var(--main-bg-color);
}

.section {
  display: flex;
  margin-bottom: 0.5em;
  align-items: center;
}

.section mat-icon {
  color: var(--secondary-bg-color);
  font-size: 1.6em;
  margin-right: 0.5em;
}

.container {
  margin-bottom: 4em;
}

@media screen and (min-width: 700px) {

  img {
    height: 15em;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    margin-left: 1em;
    margin-right: 1em;
    max-width: 22em;
  }

}

@media screen and (min-width: 1024px) {

  h1 {
    font-size: 1.9em;
  }

  table {
    display: block;
    border-collapse: collapse;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 60em;
  }

  table:nth-of-type(2) {
    padding-bottom: 6em;
  }

  th {
    background-color: var(--secondary-bg-color);
    color: white;
    border: none;
  }

  td {
    border-bottom: 1px solid var(--secondary-bg-color);
    padding-left: 0.5em;
  }

  td, th {
    font-size: 1.1em;
  }

  tr:hover {
    background-color: var(--secondary-bg-color);
  }

  td button {
    margin: 0.5em;
  }

  .container {
    display: none;
  }

  .cancel {
    color: white !important;
  }

}

